body {
    background-color: rgb(255, 249, 243);
}

nav {
    border: double 10px  rgb(255, 249, 243);
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(194, 0, 0);
    font-family: 'lucida sans' ;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 95%;
    display: flex;
}

h1 {
    font-family: 'lucida bright';
    color:  rgb(194, 0, 0);
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'lucida sans';
    color:  rgb(194, 0, 0);
}

.cntr {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border: dotted white;
    border-radius: 10px;
}

.nm {
    font-family: 'lucida calligraphy';
    font-size: 35px;
    color: white;
    padding-right: 200px;
    padding-left: 50px;
}

.bls {
    margin-top: 300px;
    margin-left: 90px;
    font-family: 'lucida bright';
    font-size: 20px;
    display: inline-block;
    float: left;
    width: 500px;
}

.ppc {
    margin-top: 200px;
    margin-right: 90px;
    height: 500px;
    border-radius: 50%;
    display: inline-block;
    border: dotted 15px rgb(194, 0, 0);
    float: right;
}

.mh {
    margin-top: 230px;
    margin-left: 70px;
}

.lft {
    margin: 80px;
    padding: 30px;
    border: double  rgb(194, 0, 0) 10px;
}

img {
    height: 200px;
}

p {
    margin: 10px;
    padding: 20px;
    font-family: 'lucida bright';
}

.pht {
    margin: 10px;
    padding: 20px;
}